<div class="navbar justify-content-center title">
  2022 ANGULAR WHITEBOARD
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <canvas width="800" height="600" style="border: 1px solid #cccccc;" id="canvas"></canvas>
    </div>
    <div class="col">
      <div class="row">
        <button id="btnDelete" (click)='onClick_deleteButton()'><strong>Delete</strong></button>
      </div>
      <div class="row">
        <div class="btn-group">
          <button type="button" id="btnshapes" class=" dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <strong>Shapes</strong>
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <button id="btnshape" ><svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                (click)='onClick_drawRectButton()' xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M17 7H7V17H17V7ZM4 4V20H20V4H4Z" fill="currentColor" />
              </svg></button>
            <button id="btnshape"><svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                xmlns="http://www.w3.org/2000/svg"  >
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M12 17C14.7614 17 17 14.7614 17 12C17 9.23858 14.7614 7 12 7C9.23858 7 7 9.23858 7 12C7 14.7614 9.23858 17 12 17ZM12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20Z"
                  fill="currentColor" />
              </svg></button>
            <button class="dropdown-item" id="btnshape" type="button" (click)='onClick_drawLineButton()'> <svg height="24" width="24">
              <line x1="0" y1="0" x2="50" y2="50" style="stroke:rgb(0,0,0);stroke-width:4" />
            </svg> </button>
          </div>
        </div>
      </div>
      <div class="row">
        <button id="btnText" (click)='onClick_drawTextButton()'><strong>Text</strong></button>
      </div>
      <div class="row">
        <div class="col" [id]="isDrawButtonActive ?'ck-button-selected'  :'ck-button' ">
          <label style="display:contents">
            <input type="checkbox" (change)="checkFreeDrawValue()" value="1">Draw
          </label>
        </div>
      </div>
      <div class="row">
        <button (click)="toggleShow()" type="checkbox"><strong>Color</strong></button>
        <div *ngIf="isShown" class="row container-fluid" id="divshow">
          <div class="col colorPaletteContainer">
            <span [style.background]="selectedColor" [cpToggle]="true" [cpDialogDisplay]="'inline'"
              [(colorPicker)]="selectedColor" (colorPickerChange)="onChangeColor($event);"></span>
            <button id="btnColor" (click)='onClick_changeColor()'>ChangeColor</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>